
body {
    
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
   
  }
  
  .funcionario-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
  }
  
  .funcionario-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .funcionario-box button:hover {
    background-color: #0056b3; 
  }
  
  .funcionario-box .input-box {
    display: flex;
    align-items: center;
  }
  
  .funcionario-box .input-box label {
    margin-right: 10px;
  }
  
  .funcionario-box .input-box input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    vertical-align: middle; 
    font-size: 16px;
  }
  
  .table th {
    background-color: #007bff;
    color: white;
    font-size: 18px;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table svg {
    width: 20px;
    vertical-align: middle;
  }
  
  .table button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .table button:hover {
    background-color: #218838; 
  }
  
  .table button.delete {
    background-color: #dc3545;
  }
  
  .table button.danger:hover {
    background-color: #c82333; 
  }

  .active-icon, .inactive-icon {
    text-align: center;
  }
  
  .active-icon svg {
    fill: #28a745; 
  }
  
  .inactive-icon svg {
    fill: #dc3545; 
  }

  .buttonsControl {
    display: flex;
    gap: 5px;
}

tr:nth-child(even) {
  background-color: white;
}


tr:nth-child(odd) {
  background-color: rgba(237, 234, 234, 0.855);
}
