body {
    font-family: 'Arial, sans-serif';
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
  }
  
  form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Set a max-width for the form */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .input-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .input-box label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-box input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #e9ecef; /* Lighter background for disabled inputs */
    cursor: not-allowed;
    box-shadow: none; /* Remove box-shadow from disabled inputs */
    width: 100%; /* Full width of the container */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .input-box input:disabled {
    color: #495057; /* Text color for disabled input */
  }
  
  .btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-box button:hover {
    background-color: #0056b3; /* Slightly darker shade of primary color */
  }
  
  .btn-box button[routerLink] {
    background-color: #6c757d;
  }
  
  .btn-box button[routerLink]:hover {
    background-color: #5a6268; /* Slightly darker shade of secondary color */
  }