<div>
    <h1>Detalhes Funcionário</h1>
</div>

<div *ngIf="Funcionario">
    <form>
        <div class="input-box">
            <label>Nome:</label>
            <input type="text" value="{{Funcionario.nome}}" disabled>
        </div>

        <div class="input-box">
            <label>Sobrenome:</label>
            <input type="text" value="{{Funcionario.sobrenome}}" disabled>
        </div>

        <div class="input-box">
            <label>Departamento</label>
            <input type="text" value="{{Funcionario.departamento}}" disabled>
        </div>

        <div class="input-box">
            <label>Turno</label>
            <input type="text" value="{{Funcionario.turno}}" disabled>
        </div>

        <div class="input-box">
            <label>Situação</label>
            <input type="text" value="{{Funcionario.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>
        </div>

        <div class="input-box">
            <label>Data de Criação</label>
            <input type="text" value="{{Funcionario.dataDeCriacao}}" disabled>
        </div>

        <div class="input-box">
            <label>Data de Alteração</label>
            <input type="text" value="{{Funcionario.dataDeAlteracao}}"  disabled>
        </div>

        <div class="btn-box">
            <button (click)="inativaFuncionario()">Inativar usuário</button>
            <button routerLink=''>Voltar</button>
        </div>


    </form>
</div>